<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script>
          MathJax = {
            tex: {
              inlineMath: [['$', '$'], ['\\(', '\\)'],['[m]','[/m]']]
            }
          };
        </script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <title>Quiz</title>
        {% block head %}
        {% endblock %}
    </head>

    <body>
      {% csrf_token %}
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cc1' %}">Past Papers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cc2' %}">Topic Papers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cc3' %}">Quizzes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'leads' %}">Leaderboards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">Create</a>
              </li>
            </ul>
          
          </nav>
        {% block body %}
        {% endblock %}
        <p>All resources and questions property of the United Kingdom Mathematics Trust &#169;</p>
    </body>
</html>