<!DOCTYPE html>
<html>
    <head lang="en">
        <link href = "/static/question/styles.css" rel = "stylesheet">
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div class = "main">
            <h1>Kimberley Pizzeria</h1>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>