{% extends "question/layout.html" %}

{% block body %}
<h1>Choose leaderboard</h1>
<div id="carouselExampleIndicators" class="carousel slide container-sm" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner container-sm">
      <div class="carousel-item active">
        {% load static %}
        <img class="d-block w-100 img-fluid" src="{% static 'question/ukmt.jpg' %}" alt="UKMT">
        <div class="carousel-caption d-none d-md-block">
            <a class="nav-link" href="lead1005">2015 paper</a>
        </div>
      </div>
      <div class="carousel-item container-sm">
        {% load static %}
        <img class="d-block w-100 img-fluid" src="{% static 'question/img_lights.jpg' %}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <a class="nav-link" href="lead1002">Quiz 2</a>
        </div>
      </div>
      <div class="carousel-item">
        {% load static %}
        <img class="d-block w-100 img-fluid" src="{% static 'question/fries.jpg' %}" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <a class="nav-link" href="lead1003">Quiz 3</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

{% endblock %}