{% extends "question/layout.html" %}

{% block body %}
<h1>{{ quiz.QuizName }}</h1>


<!-- <div class="form-check">
    <input class="form-check-input" type="radio" name="{{ question.id }}" id="{{ question.id }}1" value="option1" checked>
    <label class="form-check-label" for="{{ question.id }}1">
      {{ question.qa }}
    </label>
</div>
  <div class="form-check"> 
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Second default radio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
    <label class="form-check-label" for="exampleRadios3">
        rhird radio
    </label>
  </div> -->

  <h2>Questions</h2>
  
    
<div class="form-check">
  {% for question in questions %}
    <form action="{% url 'check' quiz.QuizId %}" method="POST"> 
      {% csrf_token %}
      <h3>{{ question.question }}</h3>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="question" id="{{ question.id }}1" value="option1">
          <label class="form-check-label" for="{{ question.id }}1">
            {{ question.q1 }}
          </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="question" id="{{ question.id }}2" value="option2">
        <label class="form-check-label" for="{{ question.id }}2">
          {{ question.q2 }}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="question" id="{{ question.id }}3" value="option3">
        <label class="form-check-label" for="{{ question.id }}3">
          {{ question.q3 }}
        </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="question" id="{{ question.id }}4" value="option4">
      <label class="form-check-label" for="{{ question.id }}4">
        {{ question.q4 }}
      </label>
    </div>
    <input type="submit"> 
    </form>
  {% empty %} 
    <h4>no questions</h4>
  {% endfor %}
  
</div>
  


{% endblock %}